<div class="coupon-area">
  <p>
    <%= @publisher.name %>
  </p>
  <% @publisher.coupons.each do |coupon| %>
    <div class="coupon-thumbnail">
      <%= link_to coupon do %>
        <%= image_tag coupon.image.to_s %>
      <% end %>
    </div>
  <% end %>
</div>

<br />

<div class="backbar">
  <%= react_component('Backbar')%>
</div>

<%= link_to '戻る', :back, data: {"turbolinks" => false} %>

