<!DOCTYPE html>
<html>
  <head>
    <title>Fukurikun</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application', 'data-turbolinks-track': 'reload' %>
    

  </head>

  <body>
<<<<<<< HEAD

    <div class="searchbar">     　
      <div>
         <form action="/publishers" method="get">
          <input 
            class="search-box"
            type="search" 
            name="search" 
            placeholder="施設・会社名を検索">
        </form>  
      </div>     
        
    
      <div class="cancel-button">
        <a href="/">キャンセル</a>
      </div>
    </div>

    <ul class="horizontal-list">
      <% @categories.each do |category| %>
        <%= link_to category do %>
          <li>
            <%= category.name %>
          </li>
        <% end %>
      <% end %>
    </ul>

    <div class="bottom-menu">
      <%=react_component('Bottommenu')%>
    </div>  
      

    <%= yield %>

  </body>
</html>